[Unit]
Description=Timer for Let's Encrypt Certificate Expiry Check
Requires=certbot-expiry-check.service

[Timer]
# 毎日AM02:00（ローカル時間）
OnCalendar=*-*-* 02:00:00
Persistent=true
RandomizedDelaySec=300

[Install]
WantedBy=timers.target