[Unit]
Description=Timer for Let's Encrypt Certificate Auto Renewal
Requires=certbot-auto-renew.service

[Timer]
# 毎週火曜日と金曜日のAM01:00（ローカル時間）
OnCalendar=Tue *-*-* 01:00:00
OnCalendar=Fri *-*-* 01:00:00
Persistent=true
RandomizedDelaySec=300

[Install]
WantedBy=timers.target